<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>servlet.checkLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLogin_user</servlet-name>
        <servlet-class>servlet.checkLogin_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkNews</servlet-name>
        <servlet-class>servlet.checkNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOneNews</servlet-name>
        <servlet-class>servlet.InsertOneNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOneNews</servlet-name>
        <servlet-class>servlet.DeleteOneNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOneNews</servlet-name>
        <servlet-class>servlet.UpdateOneNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryOneNews</servlet-name>
        <servlet-class>servlet.QueryOneNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllNews</servlet-name>
        <servlet-class>servlet.ShowAllNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryOneNews_user</servlet-name>
        <servlet-class>servlet.QueryOneNews_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authorize</servlet-name>
        <servlet-class>servlet.Authorize</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumeNews</servlet-name>
        <servlet-class>servlet.ResumeNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authorize</servlet-name>
        <url-pattern>/Authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllNews</servlet-name>
        <url-pattern>/ShowAllNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOneNews</servlet-name>
        <url-pattern>/InsertOneNews</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.lutsoft.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOneNews</servlet-name>
        <url-pattern>/DeleteOneNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOneNews</servlet-name>
        <url-pattern>/UpdateOneNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryOneNews</servlet-name>
        <url-pattern>/QueryOneNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkNews</servlet-name>
        <url-pattern>/checkNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLogin_user</servlet-name>
        <url-pattern>/checkLogin_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryOneNews_user</servlet-name>
        <url-pattern>/QueryOneNews_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumeNews</servlet-name>
        <url-pattern>/ResumeNews</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
